.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.background {
    height: 80vh;
    position: absolute;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF;
}

input{
    border: 1px solid #999999;
    border-radius: 22px;
    color: #ffffff;
    background: transparent;
    margin-right: 12px;
    width: 85%;
    min-width: 250px;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    background: #2d333b;
    margin-right: 12px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

.perfil{
    display: flex;
    margin: 40px 0;
}

.profile{
    border-radius: 60px;
    width:  120px;
    height: 120px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3{
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil p{
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
    
}

.perfil span{
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.repositorio {
    font-size: 32px;
    color: #ffffff;
    margin: 12px 0;
    text-align: center;
}